body{
    margin:o;
    display: grid;
    grid-template-areas: "Naruto Naruto Naruto Naruto"
                        "Sasuke Sasuke Sasuke Sasuke"
                        "Sakura Sakura Kakashi Kakashi"
                        "Minato Minato Minato Minato";
    grid-template-rows: 20vh 15vh 40vh 20vh;
    grid-gap: 10px;
    background-color: black;
    grid-gap: 5px;
    grid-template-columns: 25% 25% 25% 23.8%;
}

header{
    grid-area: Naruto;
    background-color: black;
    display: flex;
    justify-content: center;
}
header div{
    background-color: #a5a8b1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 60%;
}
header img{
    height: 100px;
    width: 100px;
}
nav{
    grid-area: Sasuke;
    background-color: #fe7a35;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
nav a{
    color: black;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
nav a:hover{
background-color: white;
font-weight: bolder;
}
section{
    grid-area: Sakura;
    background-color: white;
    display: flex;
justify-content: center;
}
section img{
border-radius: 100%;
width: 30%;
}
section img:hover{
    width: 320px;
}
aside{
    grid-area: Kakashi;
    background-color: yellow;
}
footer{
    grid-area: Minato;
    background-color: purple;
}