body{
    margin:o;
    display: grid;
    grid-template-areas: "Naruto Naruto Naruto Naruto"
                        "Sasuke Sasuke Sasuke Sasuke"
                        "Sakura Sakura Kakashi Kakashi"
                        "Minato Minato Minato Minato";
    grid-template-rows: 20vh 15vh 50vh 30vh;
    grid-template-columns: 25% 25% 25% 25%;
}

header{
    grid-area: Naruto;
    background-color: black;
    display: flex;
    justify-content: center;
}
header div{
    background-color: #a5a8b1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 60%;
}
header img{
    height: 100px;
    width: 100px;
}
nav{
    grid-area: Sasuke;
    background-color: #fe7a35;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
nav a{
    color: black;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
nav a:hover{
color: white;
font-size: 14pt;
font-weight: bolder;
}
section{
    grid-area: Sakura;
    background-color: #083b7c;
    display: flex;
justify-content: center;
}
section img{
border-radius: 60%;
width: 40%;
}

aside{
    grid-area: Kakashi;
    background-color: #083b7c;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
}

aside p{
  color: white;
  font-family: 'Open Sans', sans-serif;
}
aside p span{
  font-style: italic;
  color: #f67834;
}
footer{
  grid-area: Minato;
  background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div{
    display: flex;
    justify-content: space-around;
    width: 300px;
}
footer div img{
    width: 40px;
    height: 40px;
}